@import url('https://fonts.googleapis.com/css?family=Numans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100% !important;
    align-content: center !important;
}

body>div.container-fluid.text-light.main-container>div>div>div>div {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: #12181c;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: #12181c;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: white !important;
    width: 100px !important;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

#text {
    color: #12181c;
}