*,
*::before,
*::after {
    box-sizing: border-box;
}

body>div.container-fluid.text-light.main-container>div>div:nth-child(4)>div>h2,
body>div.container-fluid.text-light.main-container>div>div:nth-child(6)>div>h2,
body>div.container-fluid.text-light.main-container>div>div:nth-child(8)>div>h2 {
    margin-top: 0.75em;
    font-weight: 600;
    background: -webkit-linear-gradient(135deg, #BCA1F7 12.09%, #E577B4 42.58%, #FF7170 84.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}