*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    text-align: center;
    font-weight: 600 !important;
    font-size: 4em !important;
    /*margin-bottom: 1em !important;*/
    background: -webkit-linear-gradient(135deg, #9890e3, #b1f4cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 400px) {
    h1{
        font-size: 3.5em !important;
    }
}



.text-secondary {
    color: white !important;
    opacity: 85% !important;
    text-align: left !important;
}

h5 {
    color: white !important;
    font-weight: 600 !important;
    text-align: left !important;
}

/*h5:nth-child(2) {*/
/*    margin-bottom: 0.8em;*/
/*}*/

h2.test {
    display: none;
}

.test {
    color: #ffe05d;
}

.trending-div {
    text-align: left;
    display: inline-block;
}

.trending-div img {
    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.3);
}

.albumimg {
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
}

.albumimg:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    /* IE6–IE9 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713, SizingMethod='auto expand');
}