/* CSS Styles */


/* -==-==-==- Nav and Layout Setup Styles -==-==-==- */

.main-container {
    min-height: 95vh;
}

.nav-color {
    background-color: #272727;
}

#dropdown-color {
    background-color: #272727;
}

a.dropdown-hover:hover {
    background-color: #171717;
}

.content {
    min-height: 82vh;
}
